/*
font info:
    family - Helvetica, Arial, sans-serif
    line-height - 1.6


colors:
    light gray - ##eee
    gray - #dddddd
    yellow - #ffd24a
    orange - #ff8523
    blue - #1fabe5
    dark blue - #046c97
*/

#site_header {
  background-color: #ff8523;
  padding-bottom: 40px;
}

section {
  border-bottom-color: #dddddd;
  border-bottom-width: medium;
  border-bottom-style: solid;
}

.main_navigation {
  margin-left: 20px;
}

.main_navigation a {
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  border-color: white;
  text-decoration: none;
  border-width: thin;
  border-style: solid;
  padding: 7px 20px 7px 20px;
}

h2 {
  color: #1fabe5;
  font-family: Helvetica, Arial, sans-serif;
}

p {
  font-family: Helvetica, Arial, sans-serif;
}

p a {
  color: #1fabe5;
}

h3 {
  color: #1fabe5;
  font-family: Helvetica, Arial, sans-serif;
}

ul {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}
