/*
font info:
    family - Helvetica, Arial, sans-serif
    line-height - 1.6


colors:
    light gray - ##eee
    gray - #dddddd
    yellow - #ffd24a
    orange - #ff8523
    blue - #1fabe5
    dark blue - #046c97
*/

#site_header {
  background-color: #ff8523;
  padding-bottom: 40px;
}

section {
  border-bottom-color: #dddddd;
  border-bottom-width: medium;
  border-bottom-style: solid;
}

.main_navigation {
  margin-left: 20px;
}

.main_navigation a {
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  border-color: white;
  text-decoration: none;
  border-width: thin;
  border-style: solid;
  padding: 7px 20px 7px 20px;
}

h2 {
  color: #1fabe5;
  font-family: Helvetica, Arial, sans-serif;
}

p {
  font-family: Helvetica, Arial, sans-serif;
}

p a {
  color: #1fabe5;
}

h3 {
  color: #1fabe5;
  font-family: Helvetica, Arial, sans-serif;
}

ul {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

table {
  font-family: Helvetica, Arial, sans-serif;
  padding-bottom: 40px;
}

thead > tr > td {
  background-color: #1fabe5;
  border-color: #046c97;
  border-width: thin;
  border-style: solid;
  color: white;
  padding-left: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 10px;
}

tbody > tr > td {
  border-color: #1fabe5;
  border-width: thin;
  border-style: solid;
  padding-left: 10px;
  padding-right: 10px;
}

form {
  font-family: Helvetica, Arial, sans-serif;
  background-color: #eee;
  padding: 20px 10px 20px 10px;
  border-radius: 10px;
}

.name {
  background-color: #ff8523;
  color: white;
  padding: 20px 10px 20px 40px;
  border-radius: 10px;
}

#first_name {
  padding: 10px 60px 10px 10px;
  margin-right: 40px;
}

#last_name {
  padding: 10px 60px 10px 10px;
}

form > div > label {
  font-weight: bold;
}

.city_container {
  padding: 30px 10px 30px 0px;
}
